<h1>Profil</h1>

    Nom: <%= @user.nom %>
    <br/>
    <br/>
    Email: <%= @user.email %>
    <br/>
    <br/>
    <% if  !current_user.is_client? %>
        Presentation: <%= @user.presentation %>
        <br/>
        <br/>
        Adresse: <%= @user.addresse %>
    <% end %>
   
